.home-page{
  padding: 20px;
  border: 1px solid #eeeeee;
  margin: 20px;
  .el-form{
    input{
      margin: 10px 0;
    }
  }

  .todo-list{
    margin-bottom: 10px;
    li{
      line-height: 25px;
    }
  }
}
